//put your fonts here
@font-face {
  font-family: 'hanson';
  src: url("../fonts/Hanson-Bold.otf");
  src: url("../fonts/Hanson-Bold.ttf");
}

@font-face {
  font-family: 'montserrat black-italic';
  src: url("../fonts/Montserrat-BlackItalic.ttf");
  // src: url("../fonts/Hanson-Bold.ttf");
}