//global setup

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #000;

	.text-center {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.section {

	&--title {
		font-size: 30px;
		color: #fff;
	}
}
.arena-title {
	font-family: 'hanson';
	text-align: center;
	font-size: 10rem;
	font-weight: bold;
	text-transform: uppercase;
	background: -webkit-linear-gradient(90deg, #ec0086,   #eba926);
	letter-spacing: 10px;
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
	color: #000;
	
	
}


