*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #000;

	p {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'montserrat black-italic';
		font-style: italic;
		font-size: 2rem;
		margin-bottom: 0;
		@media (max-width:767px) {
			font-size: 34px;
		}
		@media (max-width:575px) {
			font-size: 18px;
		}
		a {
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
		&.link {
			font-size: 1.3rem;
			margin-top: 20px;
			span {
				display: block;
				color: #a54537;
			}
			@media(max-width:575px) {
				font-size: 16px;
			}
		}
	}
}

.section {

	&--title {
		font-size: 30px;
		color: #fff;
	}
}
.arena-title {
	font-family: 'hanson';
	text-align: center;
	font-size: 10rem;
	font-weight: bold;
	text-transform: uppercase;
	background: -webkit-linear-gradient(90deg, #ec0086,   #eba926);
	letter-spacing: 10px;
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
	color: #000;
	margin-bottom: 0px;
	margin-top: 50px;
	@media (max-width:991px) {
		font-size: 8rem;
	}
	@media(max-width:767px) {
		font-size: 6rem;
	}
	@media (max-width:575px) {
		font-size: 3rem;
	}
}

.form {
	margin: 25px auto 0;
	min-height: 3150px;
	@media(max-width:575px) {
		min-height: 3400px;
	}
}

