<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
<body>
	{{> org-header }}
	{{> hero-banner}}
	<main id="main">
		
	</main>
	{{> footer-scripts}}
</body>
</html>