<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
<body>
	{{> org-header }}
	{{> hero-banner}}
	<main id="main">
		<section class="section about">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<figure><img src="img/example.jpg" alt=""></figure>
					</div>
					<div class="col-12">
						<h2 class="section--title">Sobre Nós</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt labore ratione officiis possimus, eos aut a neque fugit consequatur, molestiae exercitationem nihil dolorem nam. Quod vel accusantium officia? Nihil, veritatis.</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repellendus quo natus eligendi officiis ad iure deleniti, repudiandae vel quaerat.</p>
					</div>
				</div>
			</div>
		</section>
	</main>
	{{> footer-scripts}}
</body>
</html>