<div class="hero-banner">
  <div class="owl-carousel">
    <div class="item">
      <figure class="img-responsive">
        <img src="img/banner1.jpg" alt="">
      </figure>
    </div>
    <div class="item">
      <figure class="img-responsive">
        <img src="img/banner2.jpg" alt="">
      </figure>
    </div>
  </div>
</div>